/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
	--main-color: #443;
	--border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
	--border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
	--border: 0.2rem solid var(--main-color);
	--border-hover: 0.2rem dashed var(--main-color);
}

/*=============== BASE CSS ===============*/

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-transform: capitalize;
	transition: all 0.2s linear;
}

/* IR 효과 */
.ir_pm {
	display: block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: -1;
	width: 100%;
	height: 100%;
} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 7rem;
	scroll-behavior: smooth;
}

section {
	position: relative;
	padding: 2rem 9%;
	margin: auto;
}

.heading {
	font-size: 9rem;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 0.05rem var(--main-color);
	letter-spacing: 0.2rem;
	text-align: center;
	pointer-events: none;
	position: relative;
}

.btn {
	display: inline-block;
	padding: 0.9rem 1.5rem;
	border-radius: var(--border-radius);
	color: var(--main-color);
	background: none;
	border: var(--border);
	cursor: pointer;
	margin-top: 1rem;
	font-size: 1.7rem;
}

.btn:hover {
	border-radius: var(--border-radius-hover);
	border: var(--border-hover);
}
